/* 
Declaring variables to be my primary color palette in VSA website.
 */

:root {
  --primary-color: #000000;
  --secondary-color: #8b0000;
  --article-background-color: white;
  --font-color-primary-background: antiquewhite;
  --font-color-secondary-background: #000000;
  /* As we saw in class we declare a few options in case the user's browser doesn't support the first one. */
  --primary-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Using the best practices values and*/
  --font-size-small: 0.8rem;
  --font-size-regular: 1rem;
  --font-size-large: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  height: 100vh;
  box-sizing: border-box;
  font: var(--primary-font-family);
}

/*

CSS Section dedicated to Top Bar Component

*/

header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  flex: 0.5;
  max-height: 10vh;
}

#topBar {
  background-color: var(--secondary-color);
  max-height: 100%;
}

.topBarEl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  max-height: 100%;
  width: 100%;
}

#topLogo {
  max-height: 90%;
  flex: 0.5;
}

#topLogo img {
  height: 10vh;
  max-height: 40vh;
}

#TopBarTitle {
  font-size: 2rem;
  max-height: 7vh;
  margin-top: 0;
  width: auto;
  flex: 1;
}

#TopBarTitle h1 {
  max-height: 90%;
  margin-top: 0;
  color: var(--font-color-secondary-background);
}

#ButtonContainer {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#TopBarTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
CSS Section dedicated to Left Bar Component
*/

.LeftBar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.LeftBarLinks p a {
  color: var(--font-color-primary-background);
  margin-left: 2vh;
  margin-right: 2vh;
}

/*
CSS Section dedicated to Right Bar Component
*/

.RightBar {
  flex: 0.5;
  background-color: var(--primary-color);
}

.form-container,
.iframediv {
  margin-left: 2vh;
  margin-right: 2vh;
}

.form-container h2 {
  color: var(--font-color-primary-background);
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.iframediv iframe {
  width: 20vw;
  height: 30vh;
}

.iframediv h2 {
  color: var(--font-color-primary-background);
}

/* Main Section */
main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.LeftBar {
  flex: 0.25;
  background-color: var(--primary-color);
}

.MainContent {
  flex: 2;
  background-color: var(--article-background-color);
}

.articleImage img {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}

.articleText h1,
.articleText p {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 0.5em;
}

.articleText p {
  font-size: 1rem;
}
.articleText h1 {
  font-size: 2rem;
}

article {
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

article h1,
article p {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

main {
  flex: 5;
}
/*
CSS Section dedicated to Footer Component
*/

footer {
  flex: 0.3;
  background-color: var(--secondary-color);
}

.FooterEl {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.FooterEl div p {
  color: var(--font-color-secondary-background);
}
